@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --green: #5eb35e;
    --yellow: #fbe490;
    --black: #0c0c0c;
    --white: #fff;
    --light-bg:rgba(0, 0, 0, 0.185);
    --light-color: #666;
    --border: .1rem solid var(--light-color);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.753);
}

* {
    font-family: 'Playfair Display', serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear; 
}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 20px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

body {
    color: var(--black);
    overflow-x: hidden;
}

section {
    width: 100vw;
    padding: 0 2rem;
}

button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 130px;
    height: 40px;
    margin: 20px;
    padding: 10px 25px;
    font-weight: 400;
    color: var(--white);
    background: transparent;
    border: 2px solid var(--white);
    transition: all 0.3s ease;
    outline: none;
}

.global-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 100vh;
    background: url(../assets/images/fde/global.jpg) center/cover no-repeat;
    box-shadow: 0 0 5px 5px rgba(78, 78, 78, 0.2);
    z-index: -99;
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 75px;
    margin: 1rem 0;
    color: var(--black);
}

header .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 2.5rem;
}

header .header-link .header-span img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

header h3 {
    font-family: 'Alex Brush', cursive;
    color: var(--black);
}

header .navbar .links a:link {
    margin: 0 1rem;
    font-size: 2.2rem;
    color: var(--black);
}

header .navbar .links a:hover {
    text-decoration: underline;
}
header .navbar .links a:visited {
    color: var(--black);
}

header .navbar .toggle {
    display: none;
}
 
/* Milieu de page */
.home {
    flex: 1 1 auto;
    text-align: center;
    min-height: 80vh;
    color: var(--white);
    background: url(../assets/images/fde/accueil.png) center/cover no-repeat;
    box-shadow: 0 0 5px 5px rgba(78, 78, 78, 0.2);
}

.smoke-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 350px;
}

.smoke,
.smoke2,
.smoke3 {
    filter: blur(5px);
    transform-origin: 50% 50%;
}

.smoke {
    animation: smoke1 3s linear infinite;
    animation-delay: 0.5s;
}
  
.smoke2 {
    animation: smoke2 3s linear infinite;
    animation-delay: 1.5s;
}
  
.smoke3 {
    width: 500px;
    animation: smoke3 4s linear infinite;
    animation-delay: 2.5s;
}
  
  @keyframes smoke1 {
    0% {
        filter: blur(0px);
        transform: translateY(0px) scale(-1, 1);
        opacity: 0;
    }
  
    25% {
        filter: blur(3px);
        transform: translateY(-10px) scale(-1, 1.05);
        opacity: 0.5;
    }
  
    50% {
        filter: blur(5px);
        transform: translateY(-20px) scale(-1, 1.1);
        opacity: 1;
    }
  
    75% {
        filter: blur(5px);
        transform: translateY(-30px) scale(-1, 1.15);
        opacity: 0.5;
    }
  
    100% {
        filter: blur(7px);
        transform: translateY(-40px) scale(-1, 1.2);
        opacity: 0;
    }
}
  
  @keyframes smoke2 {
    0% {
        filter: blur(0px);
        transform: translateY(0px) scale(1);
        opacity: 0;
    }
  
    25% {
        filter: blur(3px);
        transform: translateY(-10px) scale(1.05);
        opacity: 0.5;
    }
  
    50% {
        filter: blur(5px);
        transform: translateY(-20px) scale(1.1);
        opacity: 1;
    }
  
    75% {
        filter: blur(5px);
        transform: translateY(-30px) scale(1.15);
        opacity: 0.5;
    }
  
    100% {
        filter: blur(7px);
        transform: translateY(-40px) scale(1.2);
        opacity: 0;
    }
}
  
@keyframes smoke3 {
    0% {
        filter: blur(0px);
        transform: translateY(0px) scale(1);
        opacity: 0;
    }

    25% {
        filter: blur(3px);
        transform: translateY(-20px) scale(1.05);
        opacity: 0.5;
    }

    50% {
        filter: blur(5px);
        transform: translateY(-40px) scale(1.1);
        opacity: 1;
    }

    75% {
        filter: blur(5px);
        transform: translateY(-60px) scale(1.15);
        opacity: 0.5;
    }

    100% {
        filter: blur(7px);
        transform: translateY(-80px) scale(1.2);
        opacity: 0;
    }
}

.home .home-left {
    position: relative;
    top: 100px;
    left: 150px;
    width: 40%;
    text-align: justify;   
}

.home .home-left .heading {
    font-size: 3rem;
}

.home .home-left .intro {
    margin: 1rem 0;
    font-size: 2rem;
}

.home .home-left .frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button {}
.home-button:after {
    position: absolute;
    content: "";
    top: 5px;
    left: 6px;
    width: 90%;
    height: 70%;
    color: var(--white);
    border: 1px solid var(--white);
    opacity: 0;
    transition: all 0.3s ease;
}
.home-button:hover:after {
    opacity: 1;
}

/* Pied de page */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 1.5rem;
    color: var(--black);
}

/* Media Queries  */
@media all and (max-width: 992px) {

    /* Menu Burger */
    header .navbar .toggle {
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }

    header .navbar .toggle .open {
        display: block;
    }
    header .navbar .toggle .close {
        display: none;
    }
    
    .visible header .navbar .toggle .open {
        display: none;
    }
    .visible header .navbar .toggle .close {
        display: block;
        z-index: 99;
    }

    header .navbar .links {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 35%;
        max-width: 40%;
        height: 100vh;
        gap: 1.5rem;
        padding: 2rem;
        background: rgba(0, 0, 0, 0.925);
        transition: transform 1s;
        z-index: 2;
    }
    
    .visible header .navbar .links {
        transform: translateX(0);
    }

    .visible header .navbar .links a {
        font-size: 2rem;
    }
    .visible header .navbar .links a:visited {
        color: var(--white);
        transform: translateX(0);
    }
}

@media only screen and (max-width: 768px) {
    .home {
        min-height: 70vh;
    }

    .smoke-wrap {
        bottom: 280px;
    }

    .home .home-left {
        top: 40px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .home .home-left .heading {
        font-size: 2.5rem;
    }

    .home .home-left .intro {
        font-size: 1.8rem;
    }

    .home .home-left .frame {
        flex-direction: column;
        gap: 10px;
    }

    .home-button {
        width: 180px;
        font-size: 1.6rem;
    }
}
